# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Django stuff:
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/

# If your build process includes running collectstatic, then you'll probably also want to exclude collected static files:
staticfiles/
static/

# Django migrations
**/migrations/*.py
!**/migrations/__init__.py

# Environment variables
.env

# Virtual environments
venv/
ENV/
env/
env.bak/
.env.bak/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# VS Code
.vscode/

# PyCharm
.idea/

# MySQL
*.sql
*.sqlite3

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Test logs and coverage reports
coverage/
.tox/
.nox/
*.cover
*.coverage
.cache
pytest_cache/
cover/

# Ansible
.vagrant/

# System Files
*.swp
*.swo
*~

# Docker
*.env
docker-compose.override.yml

# Others
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
